@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: var(--color-white);
	--color-text: var(--color-slate-950);
	--color-primary: var(--color-indigo-500);
	--color-primary-text: var(--color-white);
	--color-primary-light: var(--color-indigo-400);
	--color-primary-dark: var(--color-indigo-600);
}

html[data-theme='dark'] {
	--color-background: var(--color-slate-800);
	--color-text: var(--color-white);
}

main > * > *,
table * {
	@apply border border-teal-300;
}

/* Layout */
@layer base {
	html {
		@apply h-full;
		@apply bg-background text-text
		/* @apply border border-teal-300; */;
	}

	body,
	#root {
		@apply h-full max-h-[1920px];
	}
	#root {
		@apply grid grid-cols-[auto_1fr] grid-rows-[1fr_auto];
	}
	aside {
		@apply row-span-2;
	}
}

/* Spacing */
@layer components {
	aside {
		@apply p-2;
	}
	main {
		@apply my-12 flex flex-col items-center;
	}
	footer {
		@apply w-full flex justify-center;
	}
	main header,
	main section,
	footer section {
		@apply w-2xl;
	}

	.btn {
		@apply bg-slate-200 p-3;
	}
}
