@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--dark-gray-1: #292929;
	--dark-gray-2: #424242;
	--dark-gray-3: #5c5c5c;
	--light: #757575;
	--light-gray-1: #fafafa;
	--light-gray-2: #f2f2f2;
	--light-gray-3: #e8e8e8;
	--light-gray-4: #e0e0e0;
	--light-gray-5: #d1d1d1;
	--dark: #333333;

	--cyan-bright: #18bfff;
	--cyan: #01a9db;
	--cyan-dark1: #0b76b7;
	--cyan-light1: #77d1f3;
	--cyan-light2: #d0f0fd;

	/* TODO: Convert to TW variable */
	--text----small: 1rem;
	--text----default: 1.18rem;
	--text----large: 1.36rem;
	--text----xlarge: 1.55rem;
	--text----small---paragraph: 1rem;
	--text----default---paragraph: 1.18rem;
	--text----large---paragraph: 1.36rem;
	--text----xlarge---paragraph: 1.55rem;
	--label----default: 1.18rem;
	--heading----xsmall: 1.36rem;
	--heading----small: 1.55rem;
	--heading----default: 1.91rem;
	--heading----large: 2.09rem;
	--heading----xlarge: 2.45rem;
	--heading----xxlarge: 3.18rem;
	--heading----xsmall---caps: 1rem;
	--heading----small---caps: 1.18rem;
	--heading----default---caps: 1.36rem;
}

@theme {
	--color-black: oklch(0.1684 0 0);
	--color-background: var(--color-white);
	--color-text: var(--dark);

	--color-primary: var(--color-cyan-500);
	--color-primary-hover: var(--color-cyan-300);
	--color-primary-selected: var(--color-cyan-200);
	--color-primary-selected-hover: var(--color-cyan-300);
	--color-primary-text: var(--color-white);
	--color-primary-text-hover: var(--color-black);
	/* Use this to indicate highlighted components of primary items */
	--color-primary-highlighted: var(--color-cyan-100);

	--color-neutral: var(--color-neutral-200);
	--color-neutral-hover: var(--color-neutral-300);
	/* --color-neutral-selected */
	/* --color-neutral-selected-hover */
	--color-neutral-text: var(--color-neutral-600);

	--color-error: var(--color-rose-500);
	/* --color-error-hover */
	/* --color-error-selected */
	/* --color-error-selected-hover */

	/* UI Components*/
	--color-sidebar-background: var(--color-neutral);
	--color-ui-background: var(--color-neutral);
	--color-ui-label: var(--color-neutral-text);
	--color-ui-border: var(--color-neutral);
	--color-ui-border-error: var(--color-error);

	/* LEGACY */
	--color-primary-light: var(--color-indigo-400);
	--color-primary-dark: var(--color-indigo-600);
	--color-primary-darker: oklch(0.2913 0.0513 276.54);
	--color-primary-darkest: oklch(0.2574 0.0453 277.29);
	--color-base-darkest: oklch(0.206 0.03 277.59);
	/* END OF LEGACY */

	/* --invoice-grid-row: 160px 160px 160px 2fr 2fr 1fr; */
	--invoice-grid-row: 10rem 10rem 10rem 6rem 6rem 4rem;
}

html[data-theme='dark'] {
	--color-background: var(--color-base-darkest);
	--color-text: var(--color-white);

	--color-primary: var(--color-cyan-700);
	--color-primary-hover: var(--color-cyan-600);
	/* --color-primary-selected: var();
	--color-primary-selected-hover: var(); */
	--color-primary-text: var(--color-white);
	--color-primary-text-hover: var(--color-black);

	/* UI Components*/
	--color-sidebar-background: var(--color-gray-800);
	--color-ui-background: var(--color-gray-700);
	--color-ui-border: var(--color-gray-500);
}

/* main > * > *,
table * {
	@apply border border-teal-300;
} */

/* #invoice-table * {
	@apply border border-teal-300;
} */

/* Layout */
@layer base {
	html {
		@apply h-full;
		@apply bg-background text-text
		/* @apply border border-teal-300; */;
	}

	body,
	#root {
		@apply h-full max-h-[1920px];
	}
	#root {
		@apply grid grid-cols-[auto_1fr] grid-rows-[1fr_auto];
	}
	aside {
		@apply row-span-2;
	}
}

/* Spacing */
@layer components {
	aside {
		@apply p-2;
	}
	main {
		@apply my-12 flex flex-col items-center;
	}
	footer {
		@apply w-full flex justify-center;
	}
	main header,
	main section,
	footer section {
		@apply w-2xl;
	}
}
